html, body, main, #main {
    height: 100%;
}

#main {
    padding-top: 50px;
}
.qa-col {
    padding: 0;
    overflow: scroll;
    height: 100%;
}
.qa-col .qa-actions {
    padding: 10px;
}

.qa-theme-select {
    background: #131313;
}
.qa-list {
    a {
        display: block;
        padding: 5px;
        font-size: 17px;
        color: #333;
        text-decoration: none;
    }
    a:hover {
        background: #E3E3E3;
    }
}
.qa-theme-box {
    .qa-list {
      padding-right: 0;
    }
}
.qa-task-box {
    .qa-list {
      padding: 0;
    a {
        padding-left: 15px;
    }
    a:hover {
        background: white;
    }
    }
    .qa-current-task {
        background: white;
    }
    .qa-status-done {
        color: #999;
    }
}
.field label {
    width: 100px;
}

.talk-form {
    position: relative;
}
.talk-submit {
    position: absolute;
    right: 10px;
    bottom: 30px;
}


.qa-talk-wrap:hover {
    background: #FAFAFA;
}
.qa-talk-wrap {
    position: relative;
    padding-bottom: 0.5rem;
    .attachment__caption {
        display: none;
    }
    .qa-talk-user {
        margin: 0;
        padding: 0px;
    background: rgba(255,255,255,0.60);
        h5 {
            font-size: 11px;
            color: #DDD;
            line-height: 0;
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }
}

#show-task-list {
    background: #EEE;
    position: absolute;
    z-index: 99999;
    right: 5px;
    top: 70px;
    padding: 10px;
}

@media (max-width: 768px) {
    main {
        .qa-theme-box, .qa-task-box {
            display: none;
        }

    }
}
