html, body, main, #main {
    height: 100%;
}

#main {
    padding-top: 50px;
}
.qa-col {
    padding: 0;
    overflow: scroll;
    height: 100%;
}
.qa-col .qa-actions {
    padding: 10px;
}

.qa-theme-select {
    background: #333;
}
